body {
	font-family: 'Montserrat', sans-serif;
	background-color: #E6E9E7;
}
#container {
	background-color: #E6E9E7;
}
#itemUpdateOuter, 
#searchResultsOuter,
#indexOuter {
	margin-left: 4%;
	float: left;
	width: 45%;
}

#shoppingListOuter {
	margin-right: 4%;
	float: right;
	width: 45%;
}

#itemUpdateOuter,
#shoppingListOuter,
#searchResultsOuter,
#indexOuter {
	background-color: #F8F8F8;
}

.itemUpdateInner,
#shoppingListInner,
#emptyShoppingList,
#searchResultsInner,
.indexInner {
	padding: 2.5% 10%;
}

h1.sectionheader {
	text-align: center;
	color: #77B584;
	font-size: 1em;
	letter-spacing: 0.2em;
	padding-bottom: 2.5%;
	border-bottom: solid 1px;
}
#container > h1 {
	text-align: center;
	color: #77B584;

}

p.emptyCart {
	text-align: center;
}

h1.sectionheader {
	text-transform: uppercase;
}

div #itemlist {
	margin-bottom: 40px;
}
.subHeader > h2 {
	color: #7D827D;
	text-align: center;
	
}
#emptyShoppingList > p.help,
div #nothingToSee {
	color: #DEDDDD;
	text-align: center;
}
div #originalItem > p,
div #updateAvailability > p,
p.help {
	color: #7D827D;
	text-align: center;
}
.checkBoxParagraph {
	text-transform: uppercase;
	
}
